@import './variable.scss';
@import './mixin.scss';

.carrito__container {
	@include border(1px solid $border, null);
	@include box(null, 0.5rem 0.5rem);
	@include size(40%, null);
	h3 {
		@include font(null, null, center);
		@include box(null, 0 0 2.5rem);
	}
	div {
		@include size(100%, null);
		@include flex(space-evenly, start, null, null);
		@include font(1rem, 600, null);
		@include color($text-card, null);
		@include box(null, 0 0 0.5rem);
		padding: 0 0.5rem;
		.cantidad {
			width: 5%;
		}
		.price {
			text-align: center;
			width: 30%;
		}
		.disco {
			width: 60%;
			text-align: center;
		}
		i {
			color: #bd0000;
			cursor: pointer;
			width: 5%;
		}
	}
	.total {
		@include font(1rem, 600, center);
		@include box(null, 2rem 0 0);
		@include color($text-card, null);
	}
	button {
		@include color($white, $btn-pay);
		@include border(none, 0.25rem);
		@include size(80%, null);
		@include box(1rem, 3rem auto);
		@include flex(center, null, null, null);
		transition: all 0.5s;
		&:hover {
			@include color($white, #2f2399);
		}
	}
}
